/* Color palette: https://colorhunt.co/palette/f9f2ed3ab0ffffb562f87474 */
.App {
  width: 100%;
  text-align: center;
  margin: auto;
}

img {
  padding: 10px 10px 0;
  height: 200px;
}

.tagline {
  margin: 0;
  padding: 0 20px 20px;
}

button {
  background: rgba(58, 176, 255, 0.7);
  color: #F9F2ED;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #3AB0FF;
}

input {
  padding: 5px;
  background: #F9F2ED;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

.input-label {
  margin-right: 10px;
}

.label-and-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 50px 100px;
}

.error {
  color: #F87474
}

.feedback-message {
  font-size: 16px;
  background-color: #F9F2ED;
  color: #3AB0FF;
  padding: 10px;
}
